{% extends "base.html" %}
{% block title %} Yangilik qo'shish {% endblock title %}
{% load crispy_forms_tags %}

{% block content %}

{% if form %}

<div class="row mx-auto mt-2">
    <h2 class="text-center mb-3">Yangilik qo'shish</h2>
    <div class="col col-md-4 mx-auto">
        <form action="" method="post" enctype="multipart/form-data">

    {{ form| crispy }}
    {% csrf_token %}
    <button class="btn btn-success" type="submit">Yuborish</button>
    
    
</form>
    </div>
</div>
{% else %}
<h1>Sahifa mavjud emas</h1>
{% endif %}

{% endblock content %}